*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container
{
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.quizContainer
{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 40px 0px;
  box-shadow: 2px 2px 2px 2px rgb(173, 170, 170);
}
.options
{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.options button
{
  width: 60%;
  border: none;
  padding: 13px;
  box-shadow: 2px 2px 2px 2px rgb(210, 206, 206);

}
#next
{
  width: 100px;
  height: 20px;
  color: white;
  background-color: black;
  border-radius: 5px;
}
.correct
{
  background-color: blue;
}
.wrong
{
  background-color: red;
}
.bg
{
  background-color: white;
}
.success
{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: antiquewhite;
  border: none;
}