body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main
{
  background-color: rgb(213, 212, 212);
  height: 100vh;
  position: relative;
  bottom: 25px;
}
.word-search-container {
    text-align: center;
    font-family: Arial, sans-serif;
    height: 90vh;
  }
  
  .wordSearchGrid {
    display: inline-block;
    margin: 20px auto;
    border: 2px solid #333;
    padding: 10px;
    background-color: #fefbfb;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px 2px black;
  }
  
  .wordSearchRow {
    display: flex;
  }
  
  .wordSearchCell {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    border: 2px solid #333;
    background-color: #efeeee;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border: none;
    border-radius: 5px;
  }
  
  .wordSearchCell:hover {
    background-color: #ddd;
    transform: scale(1.1);
    transition: 1s;
  }
  
  .selected {
    background-color: rgb(192, 192, 153);
    border-color: orange;
  }
  
  .words-found {
    margin-top: 20px;
  }
  
  .words-found h2 {
    font-size: 20px;
  }
  
  .words-found ul {
    list-style-type: none;
    padding: 0;
  }
  
  .words-found li span{
    font-size: 18px;
    font-weight: bold;
    color: green;
  }
  .wordSearchRestartBtn
  {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #efefef;
    font-size: 20px;
  }
  .wordSearchRestartBtn:hover
  {
    padding: 12px 22px;
    transition: 1s;
  }
  .cancel-word-button
  {
    color: blue;
    border: 1px solid blue;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    font-size: 25px;
  }
  .cancel-word-button:hover
  {
    background-color: #f1f1f1;
    transition: 1s;
  }